// shared styles

button{outline: none!important;}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-ExtraBold.ttf') format('truetype');
  font-style: normal;  font-weight: 900;
}
@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Bold.ttf') format('truetype');
  font-style: normal;  font-weight: 700;
}
@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-SemiBold.ttf') format('truetype');
  font-style: normal;  font-weight: 600;
}
@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Medium.ttf') format('truetype');
  font-style: normal;  font-weight: 500;
}
@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Regular.ttf') format('truetype');
  font-style: normal;  font-weight: 300;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Light.ttf') format('truetype');
  font-style: normal;  font-weight: 200;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
body{
  padding: 0; margin: 0;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: 300;
  font-family: Dosis;
}
a{
  text-decoration: none;
}
a, button, input, select {outline: none;}


// main styles

.popular-slider{
  background: url('../images/slider-bg2.jpg') no-repeat;
  padding-top: 180px;
  padding-bottom: 30px;
  overflow: hidden;
}
.slider_v1{
  .slider-item{
    display: flex;
    align-items: flex-start;
    .movie-info{
      width: calc(100% - 300px);
      .title-wrapper{
        .title{
          color: #ffffff;
          font-size: 60px;
          font-weight: 700;
          line-height: 60px;
          text-transform: uppercase;
          margin: 10px 0;
        }
        .subtitle{
          color: #abb7c4;
          font-size: 24px;
          line-height: 28px;
          max-width: 500px;
        }
      }
    }
    .movie-img{
      padding-left: 30px;
      width: 300px;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}
.movie-statistics{
  color: #abb7c4;
  padding-left: 0;
  li{
    font-size: 15px;
    margin: 5px 0;
    list-style: none;
    font-weight: 600;
    span{
      margin-right: 10px;
      font-weight: 300;
    }
  }
}
.tags{
  display: flex;
  flex-wrap: wrap;
  .item{
    color: #ffffff;
    margin: 0 3px;
    padding: 3px 5px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
  }
}


// responsive styles

@media (max-width: 576px) {
  .container{width: calc(100% - 40px)}
}
@media(min-width: 576px){
  .container{max-width: 530px}
}
@media(min-width: 768px){
  .container{max-width: 710px}
}
@media(min-width: 992px){
  .container{max-width: 950px}
}
@media(min-width: 1200px){
  .container{max-width: 1130px}
}
@media(min-width: 1330px){
  .container{max-width: 1250px}
}

// helpers styles

.font-1{opacity: 1!important;}
.font-09{opacity: .9!important;}
.font-085{opacity: .85!important;}
.font-08{opacity: .8!important;}
.font-07{opacity: .7!important;}
.font-06{opacity: .6!important;}
.font-05{opacity: .5!important;}
.font-04{opacity: .4!important;}
.font-03{opacity: .3!important;}
.font-02{opacity: .2!important;}
.font-01{opacity: .1!important;}

.font-50{font-size: 40px!important;}
.font-40{font-size: 40px!important;}
.font-38{font-size: 38px!important;}
.font-36{font-size: 36px!important;}
.font-34{font-size: 34px!important;}
.font-32{font-size: 32px!important;}
.font-30{font-size: 30px!important;}
.font-28{font-size: 28px!important;}
.font-26{font-size: 26px!important;}
.font-24{font-size: 24px!important;}
.font-22{font-size: 22px!important;}
.font-20{font-size: 20px!important;}
.font-18{font-size: 18px!important;}
.font-16{font-size: 16px!important;}
.font-14{font-size: 14px!important;}
.font-12{font-size: 12px!important;}

.font-700{font-weight: 700!important;}
.font-600{font-weight: 600!important;}
.font-500{font-weight: 500!important;}
.font-300{font-weight: 300!important;}

$spaceamounts: (0, 3, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100, -10, -15, -30); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.bg-color-1{background-color: #1692bb;}
.bg-color-2{background-color: #f5b50a;}
.bg-color-3{background-color: #ec5a1a;}

// grid styles

.container{
  width: 100%;
  margin: 0 auto;
}

.row-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  .col-item{
    margin-right: 15px;
    margin-left: 15px;
  }
  &.col-1 {
    .col-item {
      width: calc(100% - 30px);
    }
  }
  &.col-2 {
    .col-item {
      width: calc(50% - 30px);
    }
  }
  &.col-3 {
    .col-item {
      width: calc(33.333% - 30px);
    }
  }
  &.col-4 {
    .col-item {
      width: calc(25% - 30px);
    }
  }
  &.col-5 {
    .col-item {
      width: calc(20% - 30px);
    }
  }
  &.col-6 {
    .col-item {
      width: calc(16.666% - 30px);
    }
  }
  &.col-7 {
    .col-item {
      width: calc(14.3% - 30px);
    }
  }
  &.col-8 {
    .col-item {
      width: calc(12.5% - 30px);
    }
  }
  &.col-9 {
    .col-item {
      width: calc(11.111% - 30px);
    }
  }
  &.col-10 {
    .col-item {
      width: calc(10% - 30px);
    }
  }
}

@media(min-width: 1500px){
  .col-container{
    &.col-lg-1 {
      .col-item {
        width: calc(100% - 30px);
      }
    }
    &.col-lg-2 {
      .col-item {
        width: calc(50% - 30px);
      }
    }
    &.col-lg-3 {
      .col-item {
        width: calc(33.333% - 30px);
      }
    }
    &.col-lg-4 {
      .col-item {
        width: calc(25% - 30px);
      }
    }
    &.col-lg-5 {
      .col-item {
        width: calc(20% - 30px);
      }
    }
    &.col-lg-6 {
      .col-item {
        width: calc(16.666% - 30px);
      }
    }
    &.col-lg-7 {
      .col-item {
        width: calc(14.3% - 30px);
      }
    }
    &.col-lg-8 {
      .col-item {
        width: calc(12.5% - 30px);
      }
    }
    &.col-lg-9 {
      .col-item {
        width: calc(11.111% - 30px);
      }
    }
    &.col-lg-10 {
      .col-item {
        width: calc(10% - 30px);
      }
    }
  }
}
@media(max-width: 1200px){
  .col-container{
    &.col-md-1 {
      .col-item {
        width: calc(100% - 30px);
      }
    }
    &.col-md-2 {
      .col-item {
        width: calc(50% - 30px);
      }
    }
    &.col-md-3 {
      .col-item {
        width: calc(33.333% - 30px);
      }
    }
    &.col-md-4 {
      .col-item {
        width: calc(25% - 30px);
      }
    }
    &.col-md-5 {
      .col-item {
        width: calc(20% - 30px);
      }
    }
    &.col-md-6 {
      .col-item {
        width: calc(16.666% - 30px);
      }
    }
    &.col-md-7 {
      .col-item {
        width: calc(14.3% - 30px);
      }
    }
    &.col-md-8 {
      .col-item {
        width: calc(12.5% - 30px);
      }
    }
    &.col-md-9 {
      .col-item {
        width: calc(11.111% - 30px);
      }
    }
    &.col-md-10 {
      .col-item {
        width: calc(10% - 30px);
      }
    }
  }
}
@media(max-width: 992px){
  .col-container{
    &.col-sm-1 {
      .col-item {
        width: calc(100% - 30px);
      }
    }
    &.col-sm-2 {
      .col-item {
        width: calc(50% - 30px);
      }
    }
    &.col-sm-3 {
      .mx-col-item {
        width: calc(33.333% - 30px);
      }
    }
    &.col-sm-4 {
      .mx-col-item {
        width: calc(25% - 30px);
      }
    }
    &.col-sm-5 {
      .col-item {
        width: calc(20% - 30px);
      }
    }
    &.col-sm-6 {
      .col-item {
        width: calc(16.666% - 30px);
      }
    }
    &.col-sm-7 {
      .col-item {
        width: calc(14.3% - 30px);
      }
    }
    &.col-sm-8 {
      .col-item {
        width: calc(12.5% - 30px);
      }
    }
    &.col-sm-9 {
      .col-item {
        width: calc(11.111% - 30px);
      }
    }
    &.col-sm-10 {
      .col-item {
        width: calc(10% - 30px);
      }
    }
  }
}
